In [1]:
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

In [6]:
dl = pd.read_csv("dataset/svmuaMT.csv")
dl.head()

   ID  Tuoi  Thunhap  Sinhvien  DGTD  MuaMT
0   1     0        1         1     1      2
1   2     0        1         1     2      2
2   3     1        1         1     1      1
3   4     2        3         1     1      1
4   5     2        2         2     1      1

In [7]:
X = dl[['Tuoi', 'Thunhap', 'Sinhvien', 'DGTD']]
y = dl['MuaMT']

In [8]:
model = DecisionTreeClassifier()
model.fit(X, y)

# print(model.predict(X))
# print(model.score(X,y))

text_repr = tree.export_text(model)
print(text_repr)

|--- feature_1 <= 1.50
|   |--- feature_0 <= 0.50
|   |   |--- class: 2
|   |--- feature_0 >  0.50
|   |   |--- feature_2 <= 1.50
|   |   |   |--- class: 1
|   |   |--- feature_2 >  1.50
|   |   |   |--- class: 2
|--- feature_1 >  1.50
|   |--- feature_0 <= 1.50
|   |   |--- class: 1
|   |--- feature_0 >  1.50
|   |   |--- feature_3 <= 1.50
|   |   |   |--- class: 1
|   |   |--- feature_3 >  1.50
|   |   |   |--- class: 2

In [9]:
y1=model.predict(X)
print(y1)
print(y)
print(model.score(X,y))

[2 2 1 1 1 2 1 1 1 1 1 1 2 2]
0     2
1     2
2     1
3     1
4     1
5     2
6     1
7     1
8     1
9     1
10    1
11    1
12    2
13    2
Name: MuaMT, dtype: int64
1.0